@font-face {
    font-family: oswald;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}



* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
ol,
p,
span {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* font family
 font-family: "Poppins", sans-serif;
*/

/* start top nav design */
:root {
    --primary-blue-color: #01208E;
    --primary-orange-color: #FE7400;
    --similar-halka-blue: #021146;
    --primary-halka-orange: #FD8D2F;
    --primary-pior-white: #FFFFFF;
    --primary-halka-black: #444444;
    --primary-halka-bg-color: #FFFDFD;
}

.top-nav {
    background-color: var(--primary-blue-color);
    color: var(--primary-pior-white);
    width: 100%;
    height: 44px;
}

.top-nav-contact a {
    color: var(--primary-pior-white);
    background-color: var(--primary-orange-color);
    padding: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.welcome-text p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.top-nav-contact a:hover {
    background-color: var(--primary-halka-orange);
}

/* end top nav design */

/* DOWN NAV DESIGN START */
.container-fluid {
    width: 249;
    height: 38;
    top: 84px;
    left: 375px;

}

.down-nav {
    background-color: var(--primary-halka-bg-color);
    width: 100%;
    height: 111;
    align-items: center;
}

.nav-item a {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: var(--primary-halka-black);
}

.nav-link {
    color: inherit !important;
    display: flex;
}


.nav-item a:hover {
    color: var(--primary-orange-color) !important;
}

.btn {
    height: 45px;
    border-radius: 3px;
    border: 1px solid var(--primary-orange-color);
    box-shadow: 0px 14px 24px 0px #00000030;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 145px;
}

.container .btn:hover {
    background: linear-gradient(98.85deg, #FF8117 3.23%, #FFB06D 98.88%);
    padding: 10px 15px;
    display: flex;

}

/* DOWN NAV DESIGN END */

/* BANNER SECTION DESIGN START */
#banner {
    background: url("/assets/image/banner.jpg");
    padding: 183px 0 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-overlay {
    background: linear-gradient(180deg,
            rgb(191, 91, 6, 0.3)70%)
}

.banner-heading h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--primary-pior-white);
    font-family: "Poppins", sans-serif;
}

.banner-heading p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 86px;
    text-align: center;
    color: var(--primary-pior-white);

}

/* QUESTION BOX DESIGN START*/
.question-box {
    border-radius: 7px;
    background-color: var(--primary-pior-white);
    border: 1px solid #D8D8D8;
    box-shadow: 0px 24px 84px 0px #0000001A;
    backdrop-filter: blur(94px);
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 27px;

}

.question-box .question h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.question p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.box-btn {
    height: 45px;
    border-radius: 3px;
    box-shadow: 0px 14px 24px 0px #00000030;
    background-color: var(--primary-orange-color);
    padding: 9px;
    width: 196px;
}

.call-botton {
    width: 100%;
    height: 100%;
}

/* QUESTION BOX DESIGN END */
/* BANNER SECTION DESIGN END */

/* MAIN SECTION ER CONSULTING PART DESIGN START */
#consulting-service {
    margin-bottom: 50px;
}

.card-heading {
    font-size: 35px;
    font-family: "poppins", sans-serif;
    font-weight: 500px;
    margin-top: 100px;
    text-align: center;
    color: var(--primary-blue-color);
}

.service-image {
    background: linear-gradient(180deg, rgba(255, 176, 109, 0.9) 0%, rgba(192, 6, 6, 0.9) 100%);
    border: 1px solid #FF8C2C;
    backdrop-filter: blur(84px);
    box-shadow: 0px 24px 44px 0px #FF5C004A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;

}

.service-image2 {
    background: linear-gradient(180deg, rgba(0, 240, 255, 0.9) 0%, rgba(0, 56, 255, 0.9) 100%);
    border: 1px solid #9CB2FF;
    box-shadow: 0px 24px 44px 0px #0038FF4A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-image3 {
    background: linear-gradient(180deg, rgba(0, 197, 114, 0.9) 0%, rgba(0, 66, 3, 0.9) 100%);
    border: 1px solid #02A460;
    box-shadow: 0px 24px 44px 0px #46FF424A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-image4 {
    background: linear-gradient(180deg, rgba(213, 123, 255, 0.9) 0%, rgba(105, 0, 154, 0.9) 100%);
    border: 1px solid #E85AFF;
    box-shadow: 0px 24px 44px 0px #FA00FF4A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-image5 {
    background: linear-gradient(180deg, rgba(249, 24, 24, 0.9) 0%, rgba(106, 5, 5, 0.9) 100%);
    border: 1px solid #FF4F4F;
    box-shadow: 0px 24px 44px 0px #FF005C4A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-image6 {
    background: linear-gradient(180deg, rgba(114, 114, 114, 0.9) 0%, rgba(4, 4, 4, 0.9) 100%);
    border: 1px solid #757575;
    box-shadow: 0px 24px 44px 0px #3A3A394A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-card-main {
    background: #FFFFFF1A;
    border: 1px solid #E5E4E4;
    box-shadow: 0px 24px 34px 0px #0000000A;
    backdrop-filter: blur(74px);
    padding: 20px;
    border-radius: 5px;
}

.card-text h5 {
    font-size: 20px;
    font-weight: 500px;
    font-family: "poppins", sans-serif;
    color: var(--primary-blue-color);
}

.card-text p {
    font-size: 16px;
    font-weight: 300px;
    font-family: "poppins", sans-serif;
    color: #828282;
}

/* MAIN SECTION ER CONSULTING PART DESIGN END */

/* MAIN SECTION ER STUDY ABROAD PART DESIGN START */
#study-abroad {
    background-color: #EFF3FF;
}

.abroad-image img {
    width: 465px;
    height: 879px;
}

.study-abroad-content {
    width: 586px;
    height: 343px;
}

.study-abroad-content h3 {
    font-size: 26px;
    font-weight: 400px;
    font-family: "poppins", sans-serif;
    color: #FE7400;
    margin-bottom: 15px;
}

.study-abroad-content h4 {
    font-size: 36px;
    font-weight: 500px;
    font-family: "poppins", sans-serif;
    color: #01208E;
    margin-bottom: 5px;
}

.study-abroad-content h6 {
    font-size: 30px;
    font-weight: 500px;
    font-family: "poppins", sans-serif;
    color: #444444;
    margin-bottom: 45px;
}

.study-abroad-content p {
    font-size: 15px;
    font-weight: 300px;
    font-family: "poppins", sans-serif;
    color: #444444;
}

/* MAIN SECTION ER STUDY ABROAD PART DESIGN END */

/* CHOOSE YOUR STUDY DESTINATION PART START*/
#study-destination {
    margin-top: 80px;
}

.head {
    font-size: 26px;
    font-weight: 400px;
    font-family: "poppins", sans-serif;
    color: #FE7400;
}

.destination-seconde-head {
    font-size: 36px;
    font-weight: 500px;
    font-family: "poppins", sans-serif;
    color: #01208E;
}

.style-card {
    width: 241px;
    height: 361px;
    background: #F9F9F9;
    border-radius: 10px;
    margin-top: 58px;
    margin-bottom: 50px;
}

.destination-btn {
    color: var(--primary-orange-color);
}

/* CHOOSE YOUR STUDY DESTINATION PART END */

/* ONLINE CONSULTATION PART START */
#online-consultation {
    background-color: #EFF3FF;
    padding: 30px;
}

.information-form {
    width: 370px;
    height: 774px;
    background: #FFFFFF;
    box-shadow: 0px 44px 64px 0px #00000021;
    backdrop-filter: blur(74px);
    border-radius: 5px;
    justify-content: center;
    padding: 30px;
}

.information-form h5 {
    color: var(--primary-orange-color);
    margin-bottom: 16px;
    font-size: 26px;
    font-weight: 400px;
    font-family: "poppins", sans-serif;
}

.information-form h4 {
    color: #01208E;
    font-size: 30px;
    font-weight: 400px;
    font-family: "poppins", sans-serif;
    margin-bottom: 52px;
    width: 299px;
}

.information-form input {
    width: 310px;
    height: 50px;
    margin: auto;
    border: none;
}

#online-consultation .information-form input::placeholder {
    font: 14px;
    font-weight: 300px;
    font-family: "poppins", sans-serif;
}

#online-consultation .information-form::selection {
    font: 14px;
    font-weight: 300px;
    font-family: "poppins", sans-serif;
}

.area-box .text-area {
    width: 310px;
    height: 187px;
    margin: auto;
    border: none;
}

.select-area select {
    width: 309px;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 17px;
    border: none;
}

.submit-btn {
    text-align: center;
    margin-top: 30px;
}

.submit-request {
    width: 310px;
    height: 64px;
    background: linear-gradient(90deg, #FF851E 3.55%, #FFAC66 95.48%);
    font-size: 16px;
    font-family: "poppins", sans-serif;
    border-radius: 3px;
    border: none;
}

/* right site */
.small-card-main-row {
    gap: 29px;
}

.choose-abroad-main {
    margin: 83px 0;
}

.online-consultation-content h1 {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    color: var(--primary-blue-color);
    margin-bottom: 25px;
    margin-left: 32px;
}

.online-consultation-content p {
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    margin-bottom: 59px;
    margin-left: 32px;

}

.small-card-main {
    background: #FFFFFF4D;
    border: 1px solid #D9D9D9;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(124px);
    padding: 20px;
    border-radius: 5px;
    width: 287px;
    height: 111px;
    text-align: center;
}

.small-card-image {
    background: linear-gradient(180deg, #FF8014 0%, #FFA152 100%);
    border: 1px solid #FF8C2C;
    backdrop-filter: blur(84px);
    box-shadow: 0px 24px 44px 0px #FF5C004A;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.small-card-text h1 {
    font-size: 30px;
    font-family: oswald;
    font-weight: 800px;
    color: var(--primary-blue-color);
}

.small-card-text h5 {
    font-size: 16px;
    font-weight: 300px;
    font-family: "poppins", sans-serif;
    color: #878787;
}

.small_card {
    margin-left: -90px;

}

.country-row {
    margin-top: 55px;
    align-items: center;
    margin-left: 5px;
}

.country-row h3 {
    font-size: 24px;
    font-weight: 400px;
    font-family: "poppins", sans-serif;
    color: var(--primary-blue-color);
    margin-bottom: 25px;
    margin-left: 14px;
}

.box-image {
    width: 81px;
    height: 53px;
    margin-bottom: 30px;
}
.country-img-box h4{
font-size: 10px;
margin-left: 20px;
}
.box-text {
    margin-top: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: #505050;
    text-align: center;
    /* margin-left: 20px; */
    line-height: 100%;
}

/* ONLINE CONSULTATION PART END */

/* WHAT STUDENT SAYS PART START */
.review-main-row {
    width: 1130px;
}

.review-card-main {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    padding: 36px;
    border-radius: 5px;
}

#what-student-says {
    margin-top: 52px;
}

.student-says-heading h5 {
    font-size: 26px;
    font-weight: 400px;
    font-family: "poppins", sans-serif;
    color: var(--primary-orange-color);
}

.student-says-heading h3 {
    font-size: 36px;
    font-family: "poppins", sans-serif;
    font-weight: 500px;
    color: var(--primary-blue-color);
}

.review-image img {
    width: 70px;
    height: 70px;
    border-width: 5px;
    box-shadow: 0px 14px 24px 0px #00000026;
    border-radius: 50%;
    margin: auto;
}

.student-sayas h5 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
}

.student-sayas p {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    margin-bottom: 11px;
    color: #757575;
}

.student-sayas ul li {
    margin-bottom: 50px;
    color: var(--primary-orange-color);
}

.student-sayas {
    margin-left: 21px;
}

/* WHAT STUDENT SAYS PART END */

/* our resent blog part start */
#our-resent-blog {
    background: #EFF3FF;
    padding: 10px;
    margin-top: 20px;
}

.blog-heading h4 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    text-transform: uppercase;
    color: var(--primary-halka-orange);
    margin-top: 50px;
}

.blog-heading h3 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    text-transform: uppercase;
    color: var(--primary-blue-color);
}

.review-main-card {
    margin-top: 60px;
    padding: 20px;
    width: 370px;
    height: 514px;
}

.review-main-card p {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: #757575;
    margin-bottom: 2px;
}

.review-main-card h5 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    color: #222222;
    margin-bottom: 16px;
}

.review-main-card .card-text {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: #757575;
    margin-bottom: 16px;
}

.review-main-card a {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: var(--primary-halka-orange);
}

.recent-blog {
    margin-left: 55px;
}

.review-submit {
    width: 244px;
    height: 61px;
    background: linear-gradient(90deg, #FF851E 3.55%, #FFAC66 95.48%);
    font-size: 16px;
    font-family: "poppins", sans-serif;
    border-radius: 3px;
    border: none;
    margin-bottom: 30px;
}

/* our resent blog part end */


/* next page study in usa start design */
#next-page-study-in-usa{
    height: 256px;
    background-color: var(--primary-blue-color);
}

.study-in-usa-text h1 {
    color: var(--primary-halka-bg-color);
    margin-top: 100px;
    margin-left: 74px;
    text-transform: uppercase;
}

/* next page study in usa end design */


/* white space style start */
.white-section {
    background-color: #d1cece;
}

.text-home-country-usa p {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #444444;
}

/* white space style end */

/* Study in usa full country list design start */
/* left site design */
#study-in-usa-more-details {
    margin-top: 30px;
    margin-bottom: 50px;
}

.all-country-list-in-one-fram li i {
    transform: rotate(90deg);
    margin-left: 10px 0;
}

.country-main {
    padding: 10px;
    background-color: #01208E;
    color: var(--primary-halka-bg-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.all-country-list-in-one-fram .country-main p {
    margin-left: 20px;
}

.all-country-list-in-one-fram li a {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: var(--primary-halka-black);
}

.all-country-list-in-one-fram {
    border: 1px solid var(--primary-halka-black);
}

hr {
    margin: 0;
    padding: 11px;
}

.all-country-list-in-one-fram li a:hover {
    color: #0075FF;
}

/* right site design start */
.all-study-country-list-big-card img{
    width: 820px;
    height: 313px;
    border-radius: 5px;
}
.all-study-country-list-big-card-content h1 {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 26px;
    color: #222222;
    margin-top: 40px;
    margin-bottom: 20px;
}

.all-study-country-list-big-card-content p {
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 26px;
    color: #444444;
}

.all-study-country-list-big-card-content h6 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

/* right site design end */
/* Study in usa full country list design end */


/* study-abroad-heading start */
/* footer section design start */
#footer-main-section {
    margin-top: 35px;
    margin-bottom: 50px;
}

.contact-detail h5 {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    color: #222222;
    font-style: Medium;
    font-size: 15px;
}

.footer-main {
    padding: 96px;
}

.sigle-contact {
    margin-top: 7px;
}

.common-heading h5 {
    font-size: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    color: #222222;
    margin-bottom: 56px;

}
.footer-icon {
    padding: 14px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary-orange-color);
    color: var(--primary-halka-bg-color);
}

.some-more-contact p {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #222222;
    margin-top: 20px;
}

.facebook {
    padding: 14px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary-orange-color);
    color: var(--primary-halka-bg-color);
    padding: 20px;
    margin-top: 26px;
}

.study-abroad-heading h5 {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    color: #222222;
}
.study-abroad-country-list{
    margin-top: 3rem;
}

.study-abroad-country-list p {
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    color: #222222;
    margin-bottom: 14px;
}

/* our services */
.our-services h5 {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    color: #222222;
}

.Service-list p {
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: Medium;
    font-size: 16px;
    color: #444444;
    margin-bottom: 14px;
}

/* our services */

/* quick links */
.quick-links h5 {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    color: #222222;
}

.quick-link-list p {
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: Medium;
    font-size: 16px;
    color: #444444;
    margin-bottom: 14px;
}

/* quick links */
/* study-abroad-heading end */
/* footer section design end */


/* final footer start */
#final-footer {
    background-color: var(--primary-halka-black);
    padding: 10px;
    margin-bottom: 10px;
}

#final-footer p {
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    color: #FFFFFF;
}

/* final footer end */

/* study abroad style  end*/

/* footer section design end */