@font-face {
    font-family: oswald;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}



* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
ol,
p,
span {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* font family
 font-family: "Poppins", sans-serif;
*/

/* start top nav design */
:root {
    --primary-blue-color: #01208E;
    --primary-orange-color: #FE7400;
    --similar-halka-blue: #021146;
    --primary-halka-orange: #FD8D2F;
    --primary-pior-white: #FFFFFF;
    --primary-halka-black: #444444;
    --primary-halka-bg-color: #FFFDFD;
}

.top-nav {
    background-color: var(--primary-blue-color);
    color: var(--primary-pior-white);
    width: 100%;
    height: 44px;
}

.top-nav-contact a {
    color: var(--primary-pior-white);
    background-color: var(--primary-orange-color);
    padding: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.welcome-text p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.top-nav-contact a:hover {
    background-color: var(--primary-halka-orange);
}

/* end top nav design */

/* DOWN NAV DESIGN START */
.container-fluid {
    width: 249;
    height: 38;
    top: 84px;
    left: 375px;

}

.down-nav {
    background-color: var(--primary-halka-bg-color);
    width: 100%;
    height: 111;
    align-items: center;
}

.nav-item a {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: var(--primary-halka-black);
}

.nav-link {
    color: inherit !important;
    display: flex;
}

.nav-item a:hover {
    color: var(--primary-orange-color) !important;
}

.btn {
    height: 45px;
    border-radius: 3px;
    border: 1px solid var(--primary-orange-color);
    box-shadow: 0px 14px 24px 0px #00000030;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 145px;
}

.container .btn:hover {
    background: linear-gradient(98.85deg, #FF8117 3.23%, #FFB06D 98.88%);
    padding: 10px 15px;
    display: flex;

}

/* DOWN NAV DESIGN END */

/* BANNER SECTION DESIGN START */
#banner {
    background: url("/assets/image/banner.jpg");
    padding: 183px 0 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-overlay {
    background: linear-gradient(180deg,
            rgb(191, 91, 6, 0.3)70%)
}

.banner-heading h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--primary-pior-white);
    font-family: "Poppins", sans-serif;
}

.banner-heading p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 86px;
    text-align: center;
    color: var(--primary-pior-white);

}

/* QUESTION BOX DESIGN START*/
.question-box {
    border-radius: 7px;
    background-color: var(--primary-pior-white);
    border: 1px solid #D8D8D8;
    box-shadow: 0px 24px 84px 0px #0000001A;
    backdrop-filter: blur(94px);
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 27px;

}

.question-box .question h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.question-box .question p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.box-btn {
    height: 45px;
    border-radius: 3px;
    box-shadow: 0px 14px 24px 0px #00000030;
    background-color: var(--primary-orange-color);
    padding: 9px;
    width: 196px;
}

.call-botton {
    width: 100%;
    height: 100%;
}

/* QUESTION BOX DESIGN END */
/* BANNER SECTION DESIGN END */

/* MAIN SECTION ER CONSULTING PART DESIGN START */
#consulting-service {
    margin-bottom: 50px;
}

.card-heading {
    font-size: 35px;
    font-family: "poppins", sans-serif;
    font-weight: 500px;
    margin-top: 100px;
    text-align: center;
    color: var(--primary-blue-color);
}

.service-image {
    background: linear-gradient(180deg, rgba(255, 176, 109, 0.9) 0%, rgba(192, 6, 6, 0.9) 100%);
    border: 1px solid #FF8C2C;
    backdrop-filter: blur(84px);
    box-shadow: 0px 24px 44px 0px #FF5C004A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;

}

.service-image2 {
    background: linear-gradient(180deg, rgba(0, 240, 255, 0.9) 0%, rgba(0, 56, 255, 0.9) 100%);
    border: 1px solid #9CB2FF;
    box-shadow: 0px 24px 44px 0px #0038FF4A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-image3 {
    background: linear-gradient(180deg, rgba(0, 197, 114, 0.9) 0%, rgba(0, 66, 3, 0.9) 100%);
    border: 1px solid #02A460;
    box-shadow: 0px 24px 44px 0px #46FF424A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-image4 {
    background: linear-gradient(180deg, rgba(213, 123, 255, 0.9) 0%, rgba(105, 0, 154, 0.9) 100%);
    border: 1px solid #E85AFF;
    box-shadow: 0px 24px 44px 0px #FA00FF4A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-image5 {
    background: linear-gradient(180deg, rgba(249, 24, 24, 0.9) 0%, rgba(106, 5, 5, 0.9) 100%);
    border: 1px solid #FF4F4F;
    box-shadow: 0px 24px 44px 0px #FF005C4A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-image6 {
    background: linear-gradient(180deg, rgba(114, 114, 114, 0.9) 0%, rgba(4, 4, 4, 0.9) 100%);
    border: 1px solid #757575;
    box-shadow: 0px 24px 44px 0px #3A3A394A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-card-main {
    background: #FFFFFF1A;
    border: 1px solid #E5E4E4;
    box-shadow: 0px 24px 34px 0px #0000000A;
    backdrop-filter: blur(74px);
    padding: 20px;
    border-radius: 5px;
}

.card-text h5 {
    font-size: 20px;
    font-weight: 500px;
    font-family: "poppins", sans-serif;
    color: var(--primary-blue-color);
}

.card-text p {
    font-size: 16px;
    font-weight: 300px;
    font-family: "poppins", sans-serif;
    color: #828282;
}

/* MAIN SECTION ER CONSULTING PART DESIGN END */

/* MAIN SECTION ER STUDY ABROAD PART DESIGN START */
#study-abroad{
    background-color: #EFF3FF;
}
.study-abroad-content{
    width: 570px;
    height: 503px;
}
.study-abroad-content h3{
    font-size: 26px;
    font-weight: 400px;
    font-family: "poppins", sans-serif;
    color: #FE7400;
    margin-bottom: 15px;
}
.study-abroad-content h4{
    font-size: 36px;
    font-weight: 500px;
    font-family: "poppins", sans-serif;
    color: #01208E;
    margin-bottom: 5px;
}
.study-abroad-content h6{
    font-size: 30px;
    font-weight: 500px;
    font-family: "poppins", sans-serif;
    color: #444444;
    margin-bottom: 45px;
}
.study-abroad-content p{
    font-size: 15px;
    font-weight: 300px;
    font-family: "poppins", sans-serif;
    color: #444444;
}


/* MAIN SECTION ER STUDY ABROAD PART DESIGN END */